<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>header}}
    
    <div class="container">
    <h1>{{title}}</h1>
    <img class="portrait" src="./images/robot.png" alt="Profile pic" >
    <p>Name: {{name}} <br> Age: {{age}}</p>
    </div>

    {{>footer}}
</body>
</html>